.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $dark-blue;
  color: $white;
  font-weight: 200;

  .footer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .link {
      width: 25%;
      display: flex;
      flex-direction: column;
      position: relative; /* Ajout d'une position relative pour les liens */

      p {
        font-weight: 600;
        margin-bottom: 10%;
        font-size: 0.75rem;
      }

      a {
        color: $white;
        text-decoration: none;
        display: block;
        font-weight: 200;
        font-size: 0.6rem;
        position: relative; /* Ajout d'une position relative pour les liens */
      }

      a::before { /* Ajout du pseudo-élément ::before pour l'animation */
        content: "";
        position: absolute;
        width: 0;
        height: 0.5px;
        bottom: -0.1dvw;
        left: 0;
        background-color: $white;
        transition: width 0.3s ease-out;
      }

      a:hover::before { /* Ajout de l'animation au survol */
        width: 50%;
      }

      img {
        width: 3rem;
      }
    }

    .follow {

      .social-media {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        img {
          width: 0.85rem;
          margin: 0 5%;
        }
        .facebook {
          width: 0.35rem;
        }
      }
    }
  }

  .footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.4rem;
    padding: 2.5% 0 0;

    .droit {
      a {
        color: $white;
        text-decoration: none;
        display: block;
      }
    }

    .politiques {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: $white;
        text-decoration: none;
        display: block;
        margin-right: 10px;
      }
      
    }
  }
}


@media screen and (min-width: 768px) {
  .footer {
    .footer1{
      justify-content: space-between;
      padding-top: 5%;
      background-color: $dark-blue; /* Ajout de la couleur de fond */
      width: 80%;
      .location{
        transform: translateY(-2dvw);
      }
      .link{
        a{
          font-size: 1dvw;
          opacity: 0.8;
          margin-bottom: 3.5%;
        }
        p{
          margin: 2.5% 0 5%;
          font-size: 1.1dvw;
        }
        img{
          width: 7dvw;
        }
      }
      .follow {
        .social-media {
          width: 50%;
          img {
            width: 1.3dvw;
            margin: 0;
          }
          .facebook{
            width: 0.6dvw;
          }
        }
      }
    }
    .footer2{
      width: 80%;
      a{
        font-size: 0.9dvw;
        opacity: 0.8;
        padding-bottom: 17.5%;
      }
    }
  }
}

  
  