body{
    header{ 
            .hamburger {
                position: fixed;
                top: 1%;
                left: 85%;
                width: 10%;
                height: 5%;
                z-index: 100;
                span {
                    width: 100%;
                    display: block;
                    height: 2px;
                    border-radius: 20px;
                    background-color: white;
                    align-items: center;
                    margin-top: 33%;
                }
                &.show-hamburger{
                    :nth-child(1) {
                        position: absolute;
                        transform: translateY(5.5vw) rotate(135deg);
                        
                    }
                    :nth-child(2) {
                        background-color: transparent;
                    }
                    :nth-child(3) {
                        transform: translateY(1.1vw) rotate(-135deg);
                    }
                }
              }
              .hamburger:hover {
                cursor: pointer;
              }
              .hamburger span {
                transition: all 0.3s ease-in-out;
              }  
        }
    }

    @media screen and (min-width: 425px) {
        .hamburger {
          display: none;
        }
      }
      
