body{
    header{
        width: 100%;
        height: 100%;
        max-width: 1150px;
        margin: 0 auto;
        background: linear-gradient(180deg, rgba(23, 27, 55, 0.8) 26.56%, rgba(10, 15, 57, 0) 100%), url(../../public/herosection.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        z-index: -1;
        

        .header{
            width: 100%;
            height: 9%;
           position: fixed;
        }   
        .header-open{
            width: 100%;
            height: 100%;
            position: fixed;
            background-color:  rgba(23, 27, 55, 0.95);
            z-index: 10;
            max-width: 1150px;
            backdrop-filter: blur(3px);
            a{
                color: white;
            }
        } 
    }
}