body{
    header{
        display: flex;
        justify-content: center;
        width: 100%;
            .herosection{
                width: 90%;
                padding-top: 20%;
                justify-content: center;
                z-index: 2;
                &__title{
                    font-weight: 400;
                    font-size: 2.5rem;
                    margin-left: 5%;
                }
                &__summary{
                    width: 55%;
                    margin-top: 10%;
                    padding: 4%;
                    border-radius: 30px;
                    border: 0.5px rgb(255, 255, 255) solid;
                    margin-left: 5%;
                }
                &__summary-title{
                    font-size: 1rem;
                    margin-left: 5%;
                    font-weight: 500;
                }
                &__summary-chevron{
                    margin-left: 40%;
                }
                &__summary-content{
                    display: flex;
                    flex-direction: column;    
                }
                &__summary-link{
                    width: 15%;
                    font-size: 1rem;
                    color: white;
                    margin-left: 6%;
                    margin-top: 3%;
                    position: relative;
             
                }
                img{
                    &.circle{ 
                        position: fixed;
                        right: 5%;
                        bottom: 5%;
                        width: 5rem;
           
                    }
               
                    
                }
            }
    }
}


@media screen and (min-width: 425px) {
    body {
      header {
        .herosection {
          width: 90%;
          padding-top: 20%;
          &__title {
            font-size: 4dvw;
            padding-top: 0%;
            width: 80%;
          }
          &__summary {
            display: flex;
            align-items: center;
            width: 12.5dvw; 
            margin-top: 5%;
            padding: 1.2dvw 0.5dvw;
          }
          &__summary-chevron{
            margin-left: 5dvw;
          }
          &__summary-link{
            width: 15%;
            font-size: 1dvw;
            color: white;
            margin-left: 1%;
            margin-top: 1%;
            position: relative;
          }
          &__summary-title{
            font-size: 1dvw;
            margin-left: 5%;
          }
          img{
            &.circle{ 
              
                width: 8dvw;
                bottom: 10%;
   
            }}
        }
      
      }
    }
  }
  