body{
    header{
        display: flex;
        justify-content: center;
        width: 100dvw;
            .herosection{
                width: 90%;
                padding-top: 75%;
                justify-content: center;
                h1{

                }
                span{
                    font-family: 'GT-Super', serif;
                    font-style: italic;
                }
            }
        
    }
}