body{
    header{
        display: flex;
        justify-content: center;
        width: 100dvw;
            .herosection{
                width: 90%;
                height: 30%;
                padding-top: 50%;
                justify-content: center;
                z-index: 2;
                &__title{
                    font-weight: 400;
                    font-size: 2rem;
                }
                &__summary{
                    width: 55%;
                    margin-top: 10%;
                    padding: 4%;
                    border-radius: 30px;
                    border: 0.5px rgb(255, 255, 255) solid;
                }
                &__summary-title{
                    font-size: 1rem;
                    margin-left: 5%;
                    font-weight: 500;
                }
                &__summary-chevron{
                    margin-left: 40%;
                }
                &__summary-content{
                    display: flex;
                    flex-direction: column;    
                }
                &__summary-link{
                    width: 15%;
                    font-size: 1rem;
                    color: white;
                    margin-left: 6%;
                    margin-top: 3%;
                    position: relative;
             
                }
                img{
                    &.circle{ 
                        position: fixed;
                        right: 5%;
                        bottom: 5%;
                    }
               
                    
                }
            }
    }
}