body {
    header {
        display: flex;
        flex-direction: row;
  
      .header-open {
        .navbar2 {
            height: 100%;
            width: 90%;
            &__summary{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-left: 40%;
                height: 25%;
                justify-content: center;
                left: 0;
                right: 0;
                margin: auto;
                font-size: 1.2rem;
            }
            summary{
                margin-top: 10%;
            }
        }
    }
}
}