body {
    header {
      display: flex;
      flex-direction: row;
  
      .header-open {
        .navbar2 {
          a {
            color: $white;
          }
          height: 100%;
          width: 90%;
  
          &__summary {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-left: 40%;
            height: 25%;
            justify-content: center;
            left: 0;
            right: 0;
            margin: auto;
            font-size: 1.2rem;
            flex-direction: column;
          }
          .summary-content{
            display: flex;
            flex-direction: column;
          }
  
        
  
          /* Ajouter une classe summary-links aux liens */
          .summary-links {
            color: $white;
          }
        }
      }
    }
  }
  
  @media screen and (min-width: 425px) {
    body header {
      .navbar2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 1rem;
  
        .navbar2__summary {
          width: 50%;
          left: auto;
          right: 5%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
  
          /* Modifier la couleur des liens dans details */
          details {
            .summary-links {
              color: $white;
            }
          }
        }
      }
    }
  }
  