.social {
    display: flex;
    flex-direction: column;
  
   
  
    .social-media {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto;
  
      .facebook,
      .twitter,
      .insta,
      .linkedin {
        img {
          width: 4rem;
          margin-bottom: 25%;
        }
      }
    }
  }
  
