@font-face {
    font-family: 'Avik';
    src: url('../assets/fonts/Aktiv-Grotesk.otf') format('opentype');
  }
  @font-face {
    font-family: 'GT-Super';
    src: url('../assets/fonts/GT-Super.otf') format('opentype');
  }
  @font-face {
    font-family: 'helvetica Neue';
    src: url('../assets/fonts/helvetica Neue.otf') format('opentype');
  }

  $dark-blue: #171B37;
  $white: #ffffff;
  $green: #96BE1F;