
@import "./variables";
@import "./header";
@import "./hamburger";
@import "./navbar";
@import "./navbar2";
@import "./herosection";
@import "./logo";

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  
}

body {
  font-family: 'Avik', sans-serif;
  width: 100dvw;
  height: 200dvh;
  color: white;
  display: flex;
  justify-content: center;
}
.GT-Super{
  font-family: 'GT-Super', serif;
  font-style: italic;
}




details {
  list-style: none;
}
summary::marker {
  content: none;
}
