@font-face {
  font-family: "Avik";
  src: url("../assets/fonts/Aktiv-Grotesk.otf") format("opentype");
}
@font-face {
  font-family: "GT-Super";
  src: url("../assets/fonts/GT-Super.otf") format("opentype");
}
@font-face {
  font-family: "helvetica Neue";
  src: url("../assets/fonts/helvetica Neue.otf") format("opentype");
}
body header {
  width: 100%;
  height: 100%;
  max-width: 1150px;
  background-color: aqua;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(23, 27, 55, 0.8) 26.56%, rgba(10, 15, 57, 0) 100%), url(../../public/herosection.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: -1;
}
body header .header {
  width: 100%;
  height: 100%;
  position: fixed;
}
body header .header-open {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(23, 27, 55, 0.95);
  z-index: 10;
  overflow: hidden;
  max-width: 1150px;
}
body header .header-open a {
  color: white;
}

body header .hamburger {
  position: sticky;
  top: 1%;
  left: 85%;
  width: 10%;
  height: 5%;
  z-index: 100;
}
body header .hamburger span {
  width: 100%;
  display: block;
  height: 2px;
  border-radius: 20px;
  background-color: white;
  align-items: center;
  margin-top: 33%;
}
body header .hamburger.show-hamburger :nth-child(1) {
  position: absolute;
  transform: translateY(5.5vw) rotate(135deg);
}
body header .hamburger.show-hamburger :nth-child(2) {
  background-color: transparent;
}
body header .hamburger.show-hamburger :nth-child(3) {
  transform: translateY(1.1vw) rotate(-135deg);
}
body header .hamburger:hover {
  cursor: pointer;
}
body header .hamburger span {
  transition: all 0.3s ease-in-out;
}

body header .header-open .navbar {
  height: 100%;
  width: 90%;
  padding-top: 20%;
}
body header .header-open .navbar__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40%;
  height: 25%;
  justify-content: center;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 1.2rem;
}
body header .header-open .navbar__section a {
  margin-top: 10%;
  position: relative;
}
body header .header-open .navbar__section a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
body header .header-open .navbar__section a:hover::before {
  width: 13ch;
  height: 0.5px;
  border-radius: 0;
}

body header {
  display: flex;
  flex-direction: row;
}
body header .header-open .navbar2 {
  height: 100%;
  width: 90%;
}
body header .header-open .navbar2__summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 40%;
  height: 25%;
  justify-content: center;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 1.2rem;
}
body header .header-open .navbar2 summary {
  margin-top: 10%;
}

body header {
  display: flex;
  justify-content: center;
  width: 100dvw;
}
body header .herosection {
  width: 90%;
  height: 30%;
  padding-top: 50%;
  justify-content: center;
  z-index: 2;
}
body header .herosection__title {
  font-weight: 400;
  font-size: 2rem;
}
body header .herosection__summary {
  width: 55%;
  margin-top: 10%;
  padding: 4%;
  border-radius: 30px;
  border: 0.5px rgb(255, 255, 255) solid;
}
body header .herosection__summary-title {
  font-size: 1rem;
  margin-left: 5%;
  font-weight: 500;
}
body header .herosection__summary-chevron {
  margin-left: 40%;
}
body header .herosection__summary-content {
  display: flex;
  flex-direction: column;
}
body header .herosection__summary-link {
  width: 15%;
  font-size: 1rem;
  color: white;
  margin-left: 6%;
  margin-top: 3%;
  position: relative;
}
body header .herosection__summary-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: -2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
body header .herosection__summary-link:hover::before {
  width: 5ch;
  height: 0.5px;
  border-radius: 0;
}
body header .herosection img.circle {
  position: fixed;
  right: 5%;
  bottom: 5%;
}

body header .header {
  width: 100%;
  height: 100%;
  z-index: 0;
}
body header .header .navbar2 {
  width: 100%;
  height: 10%;
  border-bottom: 0.5px solid white;
  z-index: 1;
}
body header .header .navbar2__logo .logo {
  width: 5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
body header .header-open .navbar2 {
  width: 100%;
  height: 10%;
  border-bottom: 0.5px solid white;
}
body header .header-open .navbar2__logo .logo {
  width: 25%;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

body main {
  color: #171B37;
  width: 100%;
  height: auto;
  z-index: 100000;
}
body main .intro {
  width: 90%;
  margin: 0 auto;
}
body main .intro__right__text__big {
  font-size: 1.2rem;
}
body main .intro__right__text__small {
  margin-top: 10%;
  font-size: 0.8rem;
  font-weight: 300;
}

body main .study-category img {
  width: 10%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

body {
  font-family: "Avik", sans-serif;
  width: 100dvw;
  height: 100dvh;
  color: white;
  display: flex;
  justify-content: center;
}

.GT-Super {
  font-family: "GT-Super", serif;
  font-style: italic;
  font-weight: 400;
}

.sub-title {
  padding: 10% 0;
  width: 15%;
  display: flex;
  flex-direction: column;
}
.sub-title img {
  width: 0.3rem;
}
.sub-title h2 {
  font-size: 0.9rem;
  margin-top: 10%;
  font-weight: 400;
}

.all-button {
  border: solid 1px #171B37;
  border-radius: 20px;
  background-color: transparent;
  margin: 10% 0;
  padding: 0.5ch 2ch;
}
.all-button :hover {
  opacity: 0.9;
}
.all-button a {
  color: #171B37;
  font-size: 0.7rem;
}

details {
  list-style: none;
}

summary::marker {
  content: none;
}/*# sourceMappingURL=main.css.map */