@charset "UTF-8";
@font-face {
  font-family: "Avik";
  src: url("../assets/fonts/Aktiv-Grotesk.otf") format("opentype");
}
@font-face {
  font-family: "GT-Super";
  src: url("../assets/fonts/GT-Super.otf") format("opentype");
}
@font-face {
  font-family: "helvetica Neue";
  src: url("../assets/fonts/helvetica Neue.otf") format("opentype");
}
body header {
  padding-bottom: 25%;
  max-width: 1720px;
  margin: 0 auto;
  background: linear-gradient(180deg, rgba(23, 27, 55, 0.8) 26.56%, rgba(10, 15, 57, 0) 100%), url(../../public/herosection.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

@media screen and (min-width: 425px) {
  .navbar {
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.6);
    width: 100%;
  }
  .navbar__top {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto 1%;
    justify-content: space-between;
  }
  .navbar__top__left {
    display: flex;
    margin-top: 1%;
    width: 25%;
    justify-content: space-between;
  }
  .navbar__top__left a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9dvw;
    position: relative;
  }
  .navbar__top__left a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    bottom: -0.1dvw;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease-out;
  }
  .navbar__top__left a:hover::before {
    width: 100%;
  }
  .navbar__top__right {
    display: flex;
    margin-top: 1%;
    width: 25%;
    justify-content: space-between;
  }
  .navbar__top__right a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9dvw;
    position: relative;
  }
  .navbar__top__right a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    bottom: -0.1dvw;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease-out;
  }
  .navbar__top__right a:hover::before {
    width: 100%;
  }
  .navbar .navbar2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 2dvw;
    margin: 3% auto 2%;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .navbar2__logo img {
    width: 7dvw;
  }
  .navbar .navbar2__bottom {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    /* Ajout de ces deux propriétés pour centrer verticalement les éléments */
    display: flex;
    align-items: center;
  }
  .navbar .navbar2__bottom a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9dvw;
    position: relative;
    margin: auto auto;
    align-items: center;
  }
  .navbar .navbar2__bottom a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    bottom: -0.1dvw;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease-out;
  }
  .navbar .navbar2__bottom a:hover::before {
    width: 100%;
  }
  .navbar .navbar2__bottom .summary-title {
    color: #ffffff;
    font-size: 1dvw;
    margin: auto auto;
    text-transform: uppercase;
  }
  .navbar .navbar2__bottom .summary-title:hover {
    opacity: 0.6;
  }
  .navbar .navbar2__bottom .summary-title summary {
    background-color: aqua;
  }
  .navbar .navbar2__bottom .summary-title .summary-content {
    display: flex;
    flex-direction: row;
  }
}
body header .hamburger {
  position: fixed;
  top: 1%;
  left: 85%;
  width: 10%;
  height: 5%;
  z-index: 100;
}
body header .hamburger span {
  width: 100%;
  display: block;
  height: 2px;
  border-radius: 20px;
  background-color: white;
  align-items: center;
  margin-top: 33%;
}
body header .hamburger.show-hamburger :nth-child(1) {
  position: absolute;
  transform: translateY(5.5vw) rotate(135deg);
}
body header .hamburger.show-hamburger :nth-child(2) {
  background-color: transparent;
}
body header .hamburger.show-hamburger :nth-child(3) {
  transform: translateY(1.1vw) rotate(-135deg);
}
body header .hamburger:hover {
  cursor: pointer;
}
body header .hamburger span {
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 425px) {
  .hamburger {
    display: none;
  }
}
body header {
  display: flex;
  justify-content: center;
  width: 100%;
}
body header .herosection {
  width: 90%;
  padding-top: 20%;
  justify-content: center;
  z-index: 2;
}
body header .herosection__title {
  font-weight: 400;
  font-size: 2.5rem;
  margin-left: 5%;
}
body header .herosection__summary {
  width: 55%;
  margin-top: 10%;
  padding: 4%;
  border-radius: 30px;
  border: 0.5px rgb(255, 255, 255) solid;
  margin-left: 5%;
}
body header .herosection__summary-title {
  font-size: 1rem;
  margin-left: 5%;
  font-weight: 500;
}
body header .herosection__summary-chevron {
  margin-left: 40%;
}
body header .herosection__summary-content {
  display: flex;
  flex-direction: column;
}
body header .herosection__summary-link {
  width: 15%;
  font-size: 1rem;
  color: white;
  margin-left: 6%;
  margin-top: 3%;
  position: relative;
}
body header .herosection img.circle {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 5rem;
}

@media screen and (min-width: 425px) {
  body header .herosection {
    width: 90%;
    padding-top: 20%;
  }
  body header .herosection__title {
    font-size: 4dvw;
    padding-top: 0%;
    width: 80%;
  }
  body header .herosection__summary {
    display: flex;
    align-items: center;
    width: 12.5dvw;
    margin-top: 5%;
    padding: 1.2dvw 0.5dvw;
  }
  body header .herosection__summary-chevron {
    margin-left: 5dvw;
  }
  body header .herosection__summary-link {
    width: 15%;
    font-size: 1dvw;
    color: white;
    margin-left: 1%;
    margin-top: 1%;
    position: relative;
  }
  body header .herosection__summary-title {
    font-size: 1dvw;
    margin-left: 5%;
  }
}
body header .header {
  z-index: 100;
}
body header .header .navbar2 {
  width: 100%;
  height: 100%;
  border-bottom: 0.5px solid white;
  z-index: 100;
}
body header .header .navbar2__logo .logo {
  width: 5rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
body header .header-open .navbar2 {
  width: 100%;
  height: 100%;
  border-bottom: 0.5px solid white;
}
body header .header-open .navbar2__logo .logo {
  width: 25%;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

body {
  overflow-x: hidden;
}
body main {
  color: #171B37;
  height: 100dvh;
  width: 100dvw;
  z-index: 100;
  margin: 0 auto;
}
body main .intro {
  z-index: 10;
  width: 100%;
  margin: 0 auto;
}
body main .intro__right {
  margin-left: 5%;
}

@media only screen and (min-width: 425px) {
  .intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10%;
    align-items: flex-start;
  }
  .intro__right {
    width: 80%;
  }
  .intro__right .big {
    width: 90%;
    font-size: 2.5vw;
  }
  .intro__right .small {
    width: 90%;
    font-weight: 200;
  }
  .intro__left {
    width: 20%;
    padding: 0;
  }
  .intro__left .sub-title {
    padding: 0;
    margin-top: 0;
  }
}
.courses {
  width: 100%;
}
.courses .card {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
}
.courses .card .course-img {
  width: 100%;
  height: 65%;
}
.courses .card .course-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
}
.courses .card .course-title {
  margin-bottom: 10%;
  font-size: 1.25rem;
  font-weight: 400;
}
.courses .card .course-title :nth-child(1) {
  white-space: pre-line;
}
.courses .card button {
  margin-bottom: 10%;
}

@media screen and (min-width: 425px) {
  .courses {
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    width: 100dvw;
  }
  .courses .sub-title {
    display: flex;
  }
  .courses h4 {
    margin-bottom: 0;
  }
  .courses .horizontal-scroll {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 0;
  }
  .courses .horizontal-scroll .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10%;
  }
  .courses .horizontal-scroll .card:nth-child(even) {
    justify-content: start;
  }
  .courses .horizontal-scroll .card:nth-child(odd) {
    justify-content: end;
    display: flex;
    flex-direction: row-reverse;
  }
  .courses .horizontal-scroll .card .course-img {
    width: 60%;
    height: 35dvw;
  }
  .courses .horizontal-scroll .card .course-img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .courses .horizontal-scroll .card .course {
    width: 40%;
    height: 35dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .courses .horizontal-scroll .card .course .text {
    width: 80%;
    margin: auto;
  }
  .courses .horizontal-scroll .card .course h3 {
    font-size: 3dvw;
    margin-bottom: 2%;
  }
  .courses .horizontal-scroll .card .course .course-description {
    font-size: 1.3dvw;
    margin-bottom: 5%;
  }
}
body main .heroarea1 {
  background: linear-gradient(180deg, rgba(23, 27, 55, 0.8) 26.56%, rgba(10, 15, 57, 0) 100%), url(../../public/container4.svg);
}
body main .heroarea2 {
  background: linear-gradient(180deg, rgba(23, 27, 55, 0.8) 26.56%, rgba(10, 15, 57, 0) 100%), url(../../public/heroarea2.svg);
}
body main .heroarea3 {
  background: linear-gradient(180deg, rgba(23, 27, 55, 0.8) 26.56%, rgba(10, 15, 57, 0) 100%), url(../../public/heroarea3.svg);
}
body main .heroarea3 .all-button {
  color: #ffffff;
  font-size: 0.6rem;
  padding: 0.5ch 0.5ch;
  width: 60%;
  padding: 0.75ch 0;
  border: 0.5px solid #ffffff;
  transform: translateX(70%) translateY(0%);
}
body main .heroarea3 input {
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 0.5px #ffffff solid;
  font-size: 0.6rem;
  padding-bottom: 5%;
  opacity: 0.5;
}
body main .heroarea3 input::-moz-placeholder {
  font-weight: 100;
  color: #ffffff;
}
body main .heroarea3 input::placeholder {
  font-weight: 100;
  color: #ffffff;
}

@media screen and (min-width: 425px) {
  .heroarea3 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .heroarea3 .newsletter {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroarea3 .newsletter .heroarea3-sub-title {
    height: 10dvw;
    display: flex;
    flex-direction: column;
  }
  .heroarea3 .newsletter .heroarea3-sub-title h2 {
    color: white;
    font-size: 1.2vw;
    opacity: 0.8;
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  .heroarea3 .newsletter .heroarea3-sub-title img {
    width: 0.4vw;
    margin-right: 0.5vw;
  }
  .heroarea3 .newsletter .heroarea3__title {
    font-size: 3.5vw;
    height: 12.5vh;
    color: #ffffff;
    transform: translateY(-4dvw);
  }
  .heroarea3 .newsletter form {
    height: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-1dvw);
  }
  .heroarea3 .newsletter form input {
    font-size: 0.8dvw;
  }
  .heroarea3 .newsletter p {
    width: 80%;
    height: 20%;
    font-size: 1.2dvw;
    color: white;
    font-weight: 200;
    opacity: 0.8;
    transform: translateY(-2dvw);
  }
  .heroarea3 .newsletter button {
    margin-top: 10%;
    border: #ffffff solid 1px;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    padding: 0.75dvw 1.5dvw;
  }
}
.teachers {
  width: 100%;
  padding-top: 10%;
}

.horizontal-scroll {
  margin-bottom: 5%;
}

.card {
  flex: 0 0 auto;
  width: 55%;
}
.card .teachers-img {
  width: 100%;
  height: 65%;
}
.card .teachers-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid rgb(233, 233, 233);
}
.card .teachers-name {
  font-size: 1rem;
}
.card .teachers-instrument {
  font-size: 0.7rem;
  margin: 5% 0;
  font-weight: 200;
}
.card button {
  margin-bottom: 0;
}

@media screen and (min-width: 425px) {
  .sub-title {
    margin-top: 7.5%;
    margin-bottom: 1%;
  }
  .card {
    width: 35%;
    height: 80dvw;
  }
  .card img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border: 1px solid rgb(233, 233, 233);
  }
  .card .teachers-name {
    font-size: 2.3dvw;
  }
  .card .teachers-instrument {
    font-size: 1.2dvw;
    margin: 5% 0;
    opacity: 0.7;
  }
}
.event {
  width: 100%;
  background-color: #171B37;
  color: #ffffff;
}
.event .sub-title {
  margin: 0 auto;
  width: 10%;
}
.event .card {
  flex: 0 0 auto;
  width: 75%;
  height: 100%;
}
.event .card .event-img {
  width: 100%;
  height: 65%;
}
.event .card .event-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
}
.event .card .event-title {
  margin: 10% 0;
  font-size: 0.9rem;
  font-weight: 200;
}
.event .card .event-description {
  font-size: 0.6rem;
  font-weight: 200;
}
.event .card button {
  margin-bottom: 10%;
  border: 0.5px solid #ffffff;
}
.event .horizontal-scroll {
  margin-left: 5%;
  margin-bottom: 0;
}
.event .horizontal-scroll::-webkit-scrollbar {
  width: 5px;
}
.event .horizontal-scroll::-webkit-scrollbar-track {
  background-color: rgb(135, 135, 135);
}
.event .horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

@media screen and (min-width: 425px) {
  .event {
    padding-top: 10%;
  }
  .event h4 {
    text-align: center;
    margin-top: 2%;
  }
  .event .card {
    width: 40%;
  }
  .event .card .event-title {
    width: 70%;
    font-size: 1.75dvw;
    margin: 3.5% 0;
    opacity: 0.9;
  }
  .event .card .event-description {
    font-size: 1.15dvw;
    width: 80%;
    font-weight: 200;
    opacity: 0.9;
  }
}
.news {
  width: 100%;
  color: #ffffff;
  background-color: #171B37;
}
.news .horizontal-scroll {
  margin-left: 5%;
  margin-bottom: 0;
  padding-bottom: 5%;
}
.news .horizontal-scroll::-webkit-scrollbar {
  width: 5px;
}
.news .horizontal-scroll::-webkit-scrollbar-track {
  background-color: rgb(135, 135, 135);
}
.news .horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
.news .banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 97.5%;
  height: 10%;
}
.news .banner .sub-title h2 {
  margin-top: 2%;
}
.news .card {
  flex: 0 0 auto;
  width: 55%;
}
.news .card .news-img {
  width: 100%;
  height: 65%;
}
.news .card .news-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
}
.news .card .tag {
  color: #96BE1F;
  margin-top: 5%;
}
.news .card p {
  font-size: 1.75dvw;
  width: 75%;
  font-weight: 200;
  margin-bottom: 5%;
}
@media screen and (min-width: 425px) {
  .news {
    padding-top: 10%;
  }
  .news h4 {
    margin-top: 2%;
    margin-bottom: 3.5%;
  }
  .news .card {
    width: 35%;
    height: 30%;
  }
  .news .card .news-img {
    height: 44dvw;
  }
  .news .card .tag {
    color: #96BE1F;
    margin-top: 5%;
    font-size: 1dvw;
  }
  .news .card .event-title {
    width: 70%;
    font-size: 1.75vw;
    margin: 3.5% 0;
    opacity: 0.9;
  }
  .news .card .event-description {
    font-size: 1.15vw;
    width: 80%;
    font-weight: 200;
    opacity: 0.9;
  }
}

.carousel {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
  height: 20rem;
  background-size: cover;
}
.carousel__prev {
  border: 0.5px solid #ffffff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-image: url(../../public/arrow-left-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.carousel__prev:hover {
  background-color: white;
  background-image: url(../../public/arrow-left-blue.svg);
}
.carousel__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 100%;
  text-align: center;
}
.carousel__content img {
  width: 5rem;
  height: 5rem;
  margin-top: 20%;
}
.carousel__content h2 {
  font: 0.7rem sans-serif;
  opacity: 0.7;
  width: 80%;
  height: 5%;
  margin: 2.5% 0;
  text-transform: uppercase;
}
.carousel__content p {
  font-size: 0.8rem;
  width: 80%;
  height: 40%;
}
.carousel__next {
  border: 0.5px solid #ffffff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-image: url(../../public/arrow-right-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.carousel__next:hover {
  background-color: white;
  background-image: url(../../public/arrow-right-blue.svg);
}

@media screen and (min-width: 425px) {
  .sub-title-carousel {
    width: 10%;
    transform: translateX(47svw);
  }
  .carousel-title {
    width: 90%;
    text-align: center;
  }
  .carousel {
    height: 50vw;
  }
  .carousel__prev {
    width: 5dvw;
    height: 5dvw;
  }
  .carousel__next {
    width: 5dvw;
    height: 5dvw;
  }
  .carousel__content img {
    width: 10dvw;
    height: 10dvw;
    margin-top: 15%;
  }
  .carousel__content h2 {
    font-size: 1.2dvw;
  }
  .carousel__content p {
    font-size: 2.5dvw;
    width: 60%;
  }
}
.numbers {
  width: 90%;
  margin-top: 5%;
}
.numbers__header h4 {
  margin: 5% 0 0;
}
.numbers__header p {
  margin-top: 5%;
  font-weight: 200;
  opacity: 0.8;
}
.numbers__number {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0;
  gap: 0.5rem;
}
.numbers__number img {
  width: 3.5rem;
  height: 3rem;
}
.numbers__number h3 {
  font-weight: 400;
  font-size: 1rem;
  height: 1rem;
  font-weight: 200;
}
.numbers__number p {
  font-size: 0.8rem;
  height: 9rem;
  font-weight: 200;
}
.numbers__number__3, .numbers__number__1 {
  transform: translateY(1rem);
}

@media screen and (min-width: 425px) {
  .numbers {
    text-align: center;
    margin: 0 auto;
    height: 55dvw;
  }
  .numbers__number {
    text-align: left;
    gap: 1dvw;
  }
  .numbers__number img {
    width: 5dvw;
    height: 4dvw;
  }
  .numbers__number h3 {
    font-size: 1.6dvw;
    margin: 2.5% 0 5%;
    font-weight: 200;
    height: 2dvw;
  }
  .numbers__number p {
    width: 80%;
    font-size: 1.15dvw;
    font-weight: 200;
    height: 4dvw;
    opacity: 0.8;
  }
  .numbers__header {
    text-align: center;
  }
  .numbers__header .sub-title {
    padding-top: 10%;
  }
  .numbers__header h4 {
    margin: 2.5% auto 0;
  }
  .numbers__header .small {
    width: 80%;
    margin: 2.5% auto;
    font-weight: 200;
  }
  .numbers .numbers__number {
    width: 90%;
    margin: 0 auto;
  }
  .numbers__number__3, .numbers__number__1 {
    transform: translateY(2dvw);
  }
}
.social {
  display: flex;
  flex-direction: column;
}
.social .sub-title {
  margin-top: 7.5%;
}
.social .social-media {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.social .social-media .facebook img,
.social .social-media .twitter img,
.social .social-media .insta img,
.social .social-media .linkedin img {
  width: 4rem;
  margin-bottom: 25%;
}

@media screen and (min-width: 425px) {
  .social {
    display: flex;
    flex-direction: column;
  }
  .social .social-media {
    width: 75%;
  }
  .social .social-media .facebook img,
  .social .social-media .twitter img,
  .social .social-media .insta img,
  .social .social-media .linkedin img {
    width: 15vw;
    margin-bottom: 10dvw;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #171B37;
  color: #ffffff;
  font-weight: 200;
}
.footer .footer1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.footer .footer1 .link {
  width: 25%;
  display: flex;
  flex-direction: column;
  position: relative; /* Ajout d'une position relative pour les liens */
}
.footer .footer1 .link p {
  font-weight: 600;
  margin-bottom: 10%;
  font-size: 0.75rem;
}
.footer .footer1 .link a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-weight: 200;
  font-size: 0.6rem;
  position: relative; /* Ajout d'une position relative pour les liens */
}
.footer .footer1 .link a::before { /* Ajout du pseudo-élément ::before pour l'animation */
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  bottom: -0.1dvw;
  left: 0;
  background-color: #ffffff;
  transition: width 0.3s ease-out;
}
.footer .footer1 .link a:hover::before { /* Ajout de l'animation au survol */
  width: 50%;
}
.footer .footer1 .link img {
  width: 3rem;
}
.footer .footer1 .follow .social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.footer .footer1 .follow .social-media img {
  width: 0.85rem;
  margin: 0 5%;
}
.footer .footer1 .follow .social-media .facebook {
  width: 0.35rem;
}
.footer .footer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.4rem;
  padding: 2.5% 0 0;
}
.footer .footer2 .droit a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}
.footer .footer2 .politiques {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer2 .politiques a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .footer .footer1 {
    justify-content: space-between;
    padding-top: 5%;
    background-color: #171B37; /* Ajout de la couleur de fond */
    width: 80%;
  }
  .footer .footer1 .location {
    transform: translateY(-2dvw);
  }
  .footer .footer1 .link a {
    font-size: 1dvw;
    opacity: 0.8;
    margin-bottom: 3.5%;
  }
  .footer .footer1 .link p {
    margin: 2.5% 0 5%;
    font-size: 1.1dvw;
  }
  .footer .footer1 .link img {
    width: 7dvw;
  }
  .footer .footer1 .follow .social-media {
    width: 50%;
  }
  .footer .footer1 .follow .social-media img {
    width: 1.3dvw;
    margin: 0;
  }
  .footer .footer1 .follow .social-media .facebook {
    width: 0.6dvw;
  }
  .footer .footer2 {
    width: 80%;
  }
  .footer .footer2 a {
    font-size: 0.9dvw;
    opacity: 0.8;
    padding-bottom: 17.5%;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

body {
  font-family: "Avik", sans-serif;
  width: 100dvw;
  height: 100dvh;
  color: white;
  display: flex;
  justify-content: center;
}

.GT-Super {
  font-family: "GT-Super", serif;
  font-style: italic;
  font-weight: 400;
}

.sub-title {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.sub-title img {
  width: 0.3rem;
}
.sub-title h2 {
  font-size: 0.7rem;
  margin-top: 0.5%;
  font-weight: 200;
  text-transform: uppercase;
}
@media only screen and (min-width: 425px) {
  .sub-title {
    padding: 0;
    margin-top: 0;
  }
  .sub-title img {
    width: 0.5dvw;
  }
  .sub-title h2 {
    font-size: 1.3dvw;
    margin-top: 0%;
  }
}

h4 {
  font-weight: 400;
  margin-bottom: 10%;
  margin-left: 5%;
  font-size: 1.2rem;
}
@media only screen and (min-width: 425px) {
  h4 {
    width: 77.5%;
    margin-bottom: 5%;
    font-size: 4.1dvw;
  }
}

.all-button {
  position: relative;
  border: solid 1px #171B37;
  border-radius: 20px;
  background-color: transparent;
  margin: 10% 0;
  padding: 1ch 2ch;
  font-size: 0.6rem;
  z-index: 1;
  overflow: hidden;
}
.all-button a {
  color: #171B37;
}
.all-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #171B37;
  transition: all 0.5s ease;
  z-index: -1;
  pointer-events: none; /* ajout de cette ligne */
}
.all-button:hover::before {
  left: 0;
}
.all-button:hover a {
  color: #ffffff;
}
@media only screen and (min-width: 425px) {
  .all-button {
    padding: 0.65vw 1.6vw;
    font-size: 0.95vw;
    margin: 2.5% 0;
    border-radius: 50px;
  }
}

.white-button {
  position: relative;
  border: solid 0.5px #ffffff;
  border-radius: 20px;
  background-color: transparent;
  margin: 10% 0;
  padding: 1ch 2ch;
  font-size: 0.6rem;
  z-index: 1;
  overflow: hidden;
}
.white-button a {
  color: #ffffff;
}
.white-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: all 0.5s ease;
  z-index: -1;
  pointer-events: none; /* ajout de cette ligne */
}
.white-button:hover::before {
  left: 0;
}
.white-button:hover a {
  color: #171B37;
}
@media only screen and (min-width: 425px) {
  .white-button {
    padding: 0.65vw 1.6vw;
    font-size: 0.95vw;
    margin: 2.5% 0;
    border-radius: 50px;
  }
}

details {
  list-style: none;
}

summary::marker {
  content: none;
}

.title {
  font-weight: 400;
  font-size: 2rem;
}

.small {
  margin-top: 10%;
  font-size: 0.8rem;
  font-weight: 200;
  opacity: 0.8;
}
@media only screen and (min-width: 425px) {
  .small {
    font-size: 1.4dvw;
    margin-top: 5%;
  }
}

body main .heroarea {
  width: 100%;
  height: 35%;
  max-width: 1720px;
  margin: 0% auto 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
body main .heroarea__title {
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 2.2rem;
}
body main .heroarea__ellipse {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
@media only screen and (min-width: 425px) {
  body main .heroarea {
    height: 95%;
  }
  body main .heroarea__title {
    font-size: 8dvw;
  }
  body main .heroarea__ellipse {
    width: 35dvw;
  }
}

.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  gap: 1rem;
  margin-left: 5%;
}
.horizontal-scroll::-webkit-scrollbar {
  height: 1px;
}
.horizontal-scroll::-webkit-scrollbar-track {
  background-color: rgb(200, 200, 200);
}
.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: #171B37;
  border-radius: 5px;
}
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #171B37;
}/*# sourceMappingURL=main.css.map */